# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode

# misc
npm-debug.log

#System Files
.DS_Store
.DS_Store?
._*
Thumbs.db
.VolumeIcon.icns
.fseventsd
ehthumbs.db
# Icon?

# Env
.dir-env


